@if (PlayerVm != null)
{
    @PlayerVm.TotalPenaltyPoints
    @if (PlayerVm.TotalPenaltyPoints > 0 && PlayerVm.Penalties != null)
    {
        <div class="tt-inner">
            <ul class="list-group list-group-flush text-bg-dark">
                @foreach (var playerPenalty in PlayerVm.Penalties)
                {
                    <li class="list-group-item text-bg-dark">
                        <span><b>@playerPenalty.Points</b> @playerPenalty.Details</span>
                        @if (playerPenalty.Game != null)
                        {
                            <span> in </span>
                            <GameLink Id="@playerPenalty.Game"
                      LeagueId="@LeagueId"
                      SeasonId="@SeasonId"
                      DivisionId="@DivisionId" />
                        }
                        <span>.</span>
                    </li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public string? SeasonId { get; set; }

    [Parameter]
    public string? DivisionId { get; set; }

    [Parameter]
    public DivisionPlayerViewModel? PlayerVm { get; set; }
}