<h6>Houses interactions</h6>

@if (HousesVm != null)
{
    <table class="table table-dark table-draft align-middle pb-0">
        <thead>
            <tr>
                <th scope="col" style="width: 200px">Player</th>
                @foreach (var (house, _) in HousesVm.OrderBy(pair => pair.Key))
                {
                    <th scope="col" style="width: 100px">
                        @house
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var (house, housesInteractions) in HousesVm.OrderBy(pair => pair.Key))
            {
                <tr>
                    <th scope="row">
                        @house
                    </th>
                    @foreach (var (enemy, _) in HousesVm.OrderBy(pair => pair.Key))
                    {
                        @if (housesInteractions != null && housesInteractions.TryGetValue(enemy, out var interactions))
                        {
                            @if (IsAverage)
                            {
                                interactions /= interactions.Games;
                            }
                            <td class="@(interactions.Value > 0 ? "bg-success-subtle" : interactions.Value < -5 ? "bg-danger-subtle" : "") text-nowrap tt" ontouchstart="">
                                <div>@($"{Math.Round(interactions.Value, Decimals)} / {Math.Round(interactions.Total, Decimals)}")</div>
                                <div class="tt-inner" style="width: 220px;">
                                    <ul class="list-group list-group-flush">
                                        @if (interactions.Supports > 0)
                                        {
                                            <li class="list-group-item bg-dark text-success">
                                                <b>Supports:</b>
                                                <span>@Math.Round(interactions.Supports, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.WasSupported > 0)
                                        {
                                            <li class="list-group-item bg-dark text-success">
                                                <b>Was supported:</b>
                                                <span>@Math.Round(interactions.WasSupported, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.SuccessfulAttacks > 0)
                                        {
                                            <li class="list-group-item bg-dark text-danger">
                                                <b>Successful attacks:</b>
                                                <span>@Math.Round(interactions.SuccessfulAttacks, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.LostDefenses > 0)
                                        {
                                            <li class="list-group-item bg-dark text-danger">
                                                <b>Lost defenses:</b>
                                                <span>@Math.Round(interactions.LostDefenses, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.SupportsOpponent > 0)
                                        {
                                            <li class="list-group-item bg-dark text-danger">
                                                <b>Supports opponent:</b>
                                                <span>@Math.Round(interactions.SupportsOpponent, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.WasSupportedOpponent > 0)
                                        {
                                            <li class="list-group-item bg-dark text-danger">
                                                <b>Opponent was supported:</b>
                                                <span>@Math.Round(interactions.WasSupportedOpponent, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.LostAttacks > 0)
                                        {
                                            <li class="list-group-item bg-dark text-secondary">
                                                <b>Lost attacks:</b>
                                                <span>@Math.Round(interactions.LostAttacks, Decimals)</span>
                                            </li>
                                        }
                                        @if (interactions.SuccessfulDefenses > 0)
                                        {
                                            <li class="list-group-item bg-dark text-secondary">
                                                <b>Successful defenses:</b>
                                                <span>@Math.Round(interactions.SuccessfulDefenses, Decimals)</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public KeyValuePair<House, HousesInteractions?>[]? HousesVm { get; set; }

    [Parameter]
    public int Decimals { get; set; }

    [Parameter]
    public bool IsAverage { get; set; }
}
