@if (Stats != null)
{
    @Math.Round(Stats.Total, 1)
    @if (Stats.Total > 0)
    {
        <div class="tt-inner">
            <ul class="list-group list-group-flush text-bg-dark">
                @if (Stats.GameOfThrones > 0)
                {
                    <li class="list-group-item text-bg-dark">Game of Thrones: @Math.Round(Stats.GameOfThrones, 1)</li>
                }
                @if (Stats.ConsolidatePower > 0)
                {
                    <li class="list-group-item text-bg-dark">Consolidate Power: @Math.Round(Stats.ConsolidatePower, 1)</li>
                }
                @if (Stats.Raids > 0)
                {
                    <li class="list-group-item text-bg-dark">Raids: @Math.Round(Stats.Raids, 1)</li>
                }
                @if (Stats.Wildlings > 0)
                {
                    <li class="list-group-item text-bg-dark">Skinchanger Scout: @Math.Round(Stats.Wildlings, 1)</li>
                }
                @if (@Stats.Tywin > 0)
                {
                    <li class="list-group-item text-bg-dark">Tywin: @Math.Round(Stats.Tywin, 1)</li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public TMModels.PowerTokenStats? Stats { get; set; }
}