@if (Stats != null)
{
    @Stats.Total
    @if (Stats.Total > 0)
    {
        <div class="tt-inner">
            <ul class="list-group list-group-flush text-bg-dark">
                @if (Stats.GameOfThrones > 0)
                {
                    <li class="list-group-item text-bg-dark">Game of Thrones: @Stats.GameOfThrones</li>
                }
                @if (Stats.ConsolidatePower > 0)
                {
                    <li class="list-group-item text-bg-dark">Consolidate Power: @Stats.ConsolidatePower</li>
                }
                @if (Stats.Raids > 0)
                {
                    <li class="list-group-item text-bg-dark">Raids: @Stats.Raids</li>
                }
                @if (Stats.Wildlings > 0)
                {
                    <li class="list-group-item text-bg-dark">Skinchanger Scout: @Stats.Wildlings</li>
                }
                @if (@Stats.Tywin > 0)
                {
                    <li class="list-group-item text-bg-dark">Tywin: @Stats.Tywin</li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public TMModels.PowerTokenStats? Stats { get; set; }
}