@if (Stats != null)
{
    @((MarkupString)$"{Math.Round(Stats.Total, 1)}&nbsp;({Math.Round(Stats.MobilizationPoints, 1)}MP)")
    @if (Stats.Total > 0)
    {
        <div class="tt-inner">
            <ul class="list-group list-group-flush text-bg-dark">
                @if (Stats.Footmen > 0)
                {
                    <li class="list-group-item text-bg-dark">Footmen: @Math.Round(Stats.Footmen, 1)</li>
                }
                @if (Stats.Knights > 0)
                {
                    <li class="list-group-item text-bg-dark">Knights: @Math.Round(Stats.Knights, 1)</li>
                }
                @if (Stats.SiegeEngines > 0)
                {
                    <li class="list-group-item text-bg-dark">Siege Engines: @Math.Round(Stats.SiegeEngines, 1)</li>
                }
                @if (Stats.Ships > 0)
                {
                    <li class="list-group-item text-bg-dark">Ships: @Math.Round(Stats.Ships, 1)</li>
                }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public TMModels.UnitStats? Stats { get; set; }
}