@if (DivisionVm != null)
{
    <div class="flex-fill px-1">
        <table class="table table-striped table-dark pb-0 table-winner" width="200px">
            <thead>
                <tr>
                    <th scope="col" colspan="2" style="width: 200px">
                        <a class="text-inherit" href="@RouteProvider.GetLeagueSummaryRoute(DivisionVm.LeagueId, DivisionVm.DivisionId)">
                            <h6>@DivisionVm.DivisionName</h6>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in DivisionVm.Players)
                {
                    <tr>
                        <th scope="row" style="width: 50px">@player.Score</th>
                        <td style="width: 150px" class="text-truncate">
                            <a href="@RouteProvider.GetPlayerRoute(LeagueId, player.PlayerName)" class="text-inherit">@player.PlayerName</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public string? LeagueId { get; set; }

    [Parameter]
    public HallOfFameDivisionViewModel? DivisionVm { get; set; }
}